@import "core/reset";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #032a42;
}

fieldset {
  border: 0;
}

:root {
  /* COLORS */

  --color-black: #000000;
  --color-black-80: rgba(0, 0, 0, 0.8);
  --color-greyish-brown: #505050;
  --color-greyish-brown-88: rgba(62, 62, 62, 0.88);
  --color-dusk: #36536d;
  --color-greyish-brown-two: #575757;
  --color-dark: #302c42;
  --color-warm-grey: #909090;
  --color-white: #ffffff;
  --color-dark-lilac: #8176af;
  --color-white-50: rgba(255, 255, 255, 0.5);

  /* FONTS */

  --font-title-brand: 300 1.4rem "Poppins", sans-serif;
  --font-title-biggest: bold 3rem "Montserrat", sans-serif;
  --font-title-big: bold 2rem "Montserrat", sans-serif;
  --font-title-medium: 300 1.5rem "Montserrat", sans-serif;
  --font-text-big: normal 1.2rem "Montserrat", sans-serif;
  --font-text: normal 1rem "Montserrat", sans-serif;
  --font-normal: normal 10px "Montserrat", sans-serif;
  --font-button: bold 0.9rem "Montserrat", sans-serif;
  --font-card-text: 300 0.8rem "Poppins", sans-serif;
  --font-card-section: 300 0.8rem "Poppins", sans-serif;
  --font-card-title: 500 1.2rem "Poppins", sans-serif;
  --font-card-subtitle: 400 1.1rem "Poppins", sans-serif;
  --font-card-tech: 500 1rem "Catamaran", sans-serif;
}

:root {
  font: var(--font-normal);
  color: var(--color-white);
}

@media screen and (min-width: 420px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (min-width: 560px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  :root {
    font-size: 16px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  :root {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1025px) {
  :root {
    font-size: 20px;
  }
}

.container {
  padding: 22px 22px 0 22px;
  background-color: #032a42;
  height: 100%;
}

.footer {
  width: 100vw;
  background-color: #032a42;
  position: fixed;
  left: 0;
  bottom: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.header .header__brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 7px 5px;
  gap: 7px;
}

.header .header__companyLogo {
  height: 31px;
  width: auto;
  color: var(--color-white);
}

.header__companyLogo {
  width: 50px;
  background-color: #d1e2f3;
  border-radius: 50%;
}

.header .header__title {
  font: var(--font-title-brand);
  text-transform: capitalize;
  color: var(--color-white);
}

.hero {
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .main {
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8rem;
    margin: 0 100px 100px 100px;
  }

  .main_landing {
    max-width: 980px;
    margin-inline: auto;
  }

  .hero {
    grid-column: span 2;
  }

  .card_landing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 700px;
    gap: 20px;
    justify-content: center;
  }
}

.hero .title {
  font: var(--font-title-big);
  margin-bottom: 8px;
}

.hero .hero__text {
  font: var(--font-text-big);
  text-align: center;
  margin-inline: 4rem;
  margin-bottom: 1.8rem;
}

.preview .projectImage {
  width: 590px;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1 / 1;
  background-image: url("../images/logo.jpeg");
  background-position: top center;
  background-size: cover;
  border-radius: 20px;
}

.card {
  background-color: #f0f0dc;
}

.preview .card {
  margin-inline: 20px;

  transform: translateY(-45px);
}

.card {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 320px;

  color: var(--color-black);
  font: var(--font-card-text);

  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-width: 1px;
  border-image-source: linear-gradient(
    to bottom,
    var(--color-white) 0%,
    rgba(0, 0, 0, 0)
  );
  border-image-slice: 1;
}

.card .card__projectTitle {
  grid-column: 2;
  position: relative;
  margin: 15px 10px 1rem 0;
  text-align: center;
  text-transform: capitalize;

  font: var(--font-card-section);
}

.card .card__projectTitle::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  bottom: calc(50% - 1px);
  left: 0;
  right: 0;
  z-index: 0;

  background-image: linear-gradient(
    to right,
    white,
    #232323 15%,
    var(--color-black),
    #232323 85%,
    white
  );
}

.card .card__projectTitle--text {
  position: relative;
  padding-inline: 0.1em;
  z-index: 1;
  background-color: #f0d8b6;
}

.card .card__author {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 20px;
  gap: 5px;
}

.card .card__authorPhoto {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-image: url("../images/avatar2.webp");
  background-position: center;
  background-size: cover;
  margin-bottom: 0.8rem;
}

.card .card__job {
  margin-bottom: 0.2rem;
}

.card .card__name {
  font: var(--font-card-title);
}

.card .card__project {
  margin-right: 10px;
}

.card .card__slogan {
  font: var(--font-card-subtitle);
  margin-top: -0.2rem;
  margin-bottom: 0.8rem;
}

.card .card__descriptionTitle {
  font-weight: inherit;
  text-transform: capitalize;
}

.card .card__technicalInfo {
  display: grid;
  grid-template-columns: 1fr 2rem 2rem;
  gap: 0.5em;

  margin-block: 1.8rem;
}

.card .card__technologies {
  font: var(--font-card-tech);
}

.addForm__input {
  display: flex;
}

@media only screen and (max-width: 480px) {
  .main {
    margin: 0 0 100px 0;
  }

  .card {
    width: 280px;
    height: 180px;
    margin-bottom: 15px;
  }

  .preview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projectImage {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .preview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projectImage {
    width: 700px;
    height: 620px;
  }

  .card {
    width: 300px;
    height: 320px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main {
    margin: 0;
    column-gap: 0.5rem;
  }

  .preview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projectImage {
    width: 900px;
    height: 800px;
  }

  .card {
    width: 400px;
    height: 340px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 1025px) {
  .main_landing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .preview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projectImage {
    width: 900px;
    height: 800px;
  }

  .card {
    width: 400px;
    height: 370px;
    margin-bottom: 15px;
  }
}

/* FORM */

.addForm {
  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px rgba(0, 0, 0, 0);
  background-image: radial-gradient(
    circle at 50% 50%,
    var(--color-dusk),
    #032a42 92%
  );
  border-radius: 20px;
}

.addForm .title {
  font: var(--font-title-biggest);
  margin-block: 18px;
}

.addForm .addForm__title {
  position: relative;
  background-clip: padding-box;
  padding-block: 0.4rem;
  margin-block: 0.5rem;
  border: solid 2px transparent;

  font: var(--font-title-medium);
  text-align: center;
}

.addForm .addForm__title:before {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  color: #032a42;

  margin-bottom: -2px;
  border-radius: inherit;
  background-color: transparent;
  background-image: linear-gradient(
    to left,
    transparent,
    #343045 25%,
    #c0b7e8 45%,
    var(--color-dark-lilac) 65%,
    #343045 75%,
    transparent
  );
}

.addForm .addForm__group {
  margin-bottom: 25px;
}

.addForm .addForm__input {
  width: calc(100% - 20px);
  margin: 10px auto;

  padding: 10px 16px;
  border-radius: 40px;
  border: solid 2px var(--color-white);

  color: white;
  background-color: transparent;

  font: var(--font-text);
}

.addForm .addForm__input::placeholder {
  color: white;
  font-size: var(--font-text);
}

.addForm .addForm__group--upload {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.addForm .addForm__hidden {
  display: none;
}

.addForm .addForm__2col {
  width: calc(100% - 20px);
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.addForm .addForm__2col .addForm__input {
  width: calc((100% - 0.2rem) / 2);
  margin: 0;
}

.footer_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 19px;

  .logoSponsor {
    margin: 1rem;
  }
}

/* COMPONENTS */

.title {
  text-align: center;
  text-transform: capitalize;
}

.logoSponsor {
  height: 46px;
}

.button--link {
  display: block;
  width: fit-content;

  margin-inline: auto;
  margin-block: 8px;
  padding: 0.75rem 1.25rem;
  color: #032a42;
  font: var(--font-button);
  text-transform: uppercase;
  text-decoration: none;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(to bottom, #2a2a2a 0%, rgba(0, 0, 0, 0));
  border-image-slice: 1;
  border-radius: 10rem;
  background-color: #d1e2f3;
}

.button {
  display: block;
  min-width: 120px;
  max-width: 150px;

  margin: 8px;
  padding: 10px 18px;
  color: #032a42;
  font: var(--font-button);
  text-transform: none;
  text-decoration: none;
  text-align: center;

  border-radius: 40px;
  background-image: linear-gradient(to right, #5e97c3 -2%, #ccd7f2 98%);

  cursor: pointer;
}

.button--large {
  display: block;
  width: 145px;

  margin-inline: auto;
  margin-block: 8px;
  padding: 10px 18px;
  color: #032a42;
  font: var(--font-button);
  text-transform: none;
  text-decoration: none;
  text-align: center;

  border-radius: 40px;
  background-color: transparent;
  background-image: linear-gradient(to right, #5e97c3 -2%, #ccd7f2 98%);
  cursor: pointer;
}

.button--large:hover {
  border-color: var(--color-white);
}

/* ICONS */

.icon {
  width: 1.6rem;
  height: 1.6rem;
  color: transparent;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 var(--color-greyish-brown-two);
}

.icon__www {
  background-image: url("../images/icons/globe-solid.svg");
}

.icon__github {
  background-image: url("../images/icons/github.svg");
}
