<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del proyecto</title>
</head>

<body>
    <section class="preview">
        <div class="projectImage" style="background-image: url('')">
        </div>
        <article class="card">
            <h2 class="card__projectTitle"><span class="card__projectTitle--text">Personal project card</span></h2>
            <div class="card__author">
                <div class="card__authorPhoto" style="background-image: url('')">
                </div>
                <p class=" card__job"> Arquitecta</p>
                <h3 class="card__name">Ana</h3>
            </div>
            <div class="card__project">
                <h3 class="card__slogan"> HolA</h3>
                <p class="card__slogan">hols</p>
                <h3 class="card__descriptionTitle">Product description</h3>
                <p class="card__description">hola</p>
                <div class="card__technicalInfo">
                    <p class="card__technologies">hola</p><a class="icon icon__www"
                        href="https://books.adalab.es/materiales-del-curso-u" target="_blank" rel="noreferrer"
                        title="Haz click para ver el proyecto online">Web link</a><a class="icon icon__github"
                        href="https://books.adalab.es/materiales-del-curso-u" target="_blank" rel="noreferrer"
                        title="Haz click para ver el código del proyecto">GitHub link</a>
                </div>
            </div>
        </article>
    </section>
</body>

</html>